h1{
  color: blue;
  font-size: 80px;
}

header {
  color: white;
  padding-top: 5px;
  border-top: 1px solid gray;
  font-size: 12px;
  left: 0;
  top: 0;

  width: 100%;
  background: black;
  text-align: center;
}
